# Add project specific ProGuard rules here.
# By default, the flags in this file are appended to flags specified
# in /usr/local/Cellar/android-sdk/24.3.3/tools/proguard/proguard-android.txt
# You can edit the include path and order by changing the proguardFiles
# directive in build.gradle.
#
# For more details, see
#   http://developer.android.com/guide/developing/tools/proguard.html

# react-native-reanimated
-keep class com.swmansion.reanimated.** { *; }
-keep class com.facebook.react.turbomodule.** { *; }

# Add project specific ProGuard rules here.
# By default, the flags in this file are appended to flags specified
# in /usr/local/Cellar/android-sdk/24.3.3/tools/proguard/proguard-android.txt
# You can edit the include path and order by changing the proguardFiles
# directive in build.gradle.
#
# For more details, see
#   http://developer.android.com/guide/developing/tools/proguard.html

# react-native-reanimated
-keep class com.swmansion.reanimated.** { *; }
-keep class com.facebook.react.turbomodule.** { *; }

# Add any project specific keep options here:

# PdfBox JP2 and SLF4J optional dependencies
-dontwarn com.gemalto.jp2.**
-keep class com.gemalto.jp2.** { *; }
-dontwarn org.slf4j.impl.**
-keep class org.slf4j.impl.** { *; }
-keep class org.apache.ftpserver.** { *; }
-keep class org.apache.mina.** { *; }
-keep class com.hierynomus.sshj.** { *; }
-keep class net.schmizz.sshj.** { *; }
-keep class com.jcraft.jsch.** { *; }
-keep class com.github.mwiede.** { *; }
-keep class jcifs.** { *; }
-keep class eu.agno3.jcifs.** { *; }
-keep class com.hierynomus.mssmb2.** { *; }
-dontwarn javax.security.auth.callback.NameCallback
-dontwarn javax.security.auth.kerberos.KerberosKey
-dontwarn javax.security.auth.kerberos.KerberosPrincipal
-dontwarn javax.security.auth.kerberos.KerberosTicket
-dontwarn javax.security.auth.login.AppConfigurationEntry$LoginModuleControlFlag
-dontwarn javax.security.auth.login.AppConfigurationEntry
-dontwarn javax.security.auth.login.Configuration
-dontwarn javax.security.auth.login.LoginContext
-dontwarn javax.security.sasl.AuthenticationException
-dontwarn javax.security.sasl.SaslException
-dontwarn javax.servlet.Filter
-dontwarn javax.servlet.FilterChain
-dontwarn javax.servlet.FilterConfig
-dontwarn javax.servlet.ServletConfig
-dontwarn javax.servlet.ServletException
-dontwarn javax.servlet.ServletOutputStream
-dontwarn javax.servlet.ServletRequest
-dontwarn javax.servlet.ServletResponse
-dontwarn javax.servlet.http.HttpServlet
-dontwarn javax.servlet.http.HttpServletRequest
-dontwarn javax.servlet.http.HttpServletRequestWrapper
-dontwarn javax.servlet.http.HttpServletResponse
-dontwarn javax.servlet.http.HttpSession
-dontwarn org.ietf.jgss.GSSContext
-dontwarn org.ietf.jgss.GSSCredential
-dontwarn org.ietf.jgss.GSSException
-dontwarn org.ietf.jgss.GSSManager
-dontwarn org.ietf.jgss.GSSName
-dontwarn org.ietf.jgss.MessageProp
-dontwarn org.ietf.jgss.Oid
-dontwarn org.springframework.beans.factory.FactoryBean
-dontwarn org.springframework.beans.factory.config.BeanDefinition
-dontwarn org.springframework.beans.factory.config.BeanDefinitionHolder
-dontwarn org.springframework.beans.factory.support.AbstractBeanDefinition
-dontwarn org.springframework.beans.factory.support.BeanDefinitionBuilder
-dontwarn org.springframework.beans.factory.support.BeanDefinitionRegistry
-dontwarn org.springframework.beans.factory.support.ManagedMap
-dontwarn org.springframework.beans.factory.xml.AbstractSingleBeanDefinitionParser
-dontwarn org.springframework.beans.factory.xml.BeanDefinitionParser
-dontwarn org.springframework.beans.factory.xml.BeanDefinitionParserDelegate
-dontwarn org.springframework.beans.factory.xml.NamespaceHandlerSupport
-dontwarn org.springframework.beans.factory.xml.ParserContext
-dontwarn org.springframework.beans.factory.xml.XmlReaderContext
-dontwarn org.springframework.context.support.FileSystemXmlApplicationContext
-dontwarn org.springframework.util.StringUtils
-dontwarn org.springframework.util.xml.DomUtils
-keep class com.facebook.react.** { *; }
-keep class com.facebook.hermes.** { *; }
-keep class com.facebook.jni.** { *; }
-keep class expo.modules.** { *; }
-keep class com.revenuecat.purchases.** { *; }
-keep class net.lingala.zip4j.** { *; }
-keepclassmembers enum * { *; }
-keepclassmembers class * implements android.os.Parcelable { static ** CREATOR; }
-dontwarn com.sun.jna.Memory
-dontwarn com.sun.jna.Pointer
-dontwarn com.sun.jna.platform.win32.BaseTSD$ULONG_PTR
-dontwarn com.sun.jna.platform.win32.Kernel32
-dontwarn com.sun.jna.platform.win32.User32
-dontwarn com.sun.jna.platform.win32.WinBase$SECURITY_ATTRIBUTES
-dontwarn com.sun.jna.platform.win32.WinBase
-dontwarn com.sun.jna.platform.win32.WinDef$HWND
-dontwarn com.sun.jna.platform.win32.WinDef$LPARAM
-dontwarn com.sun.jna.platform.win32.WinDef$LRESULT
-dontwarn com.sun.jna.platform.win32.WinDef$WPARAM
-dontwarn com.sun.jna.platform.win32.WinNT$HANDLE
-dontwarn com.sun.jna.platform.win32.WinUser$COPYDATASTRUCT
-dontwarn org.apache.logging.log4j.Level
-dontwarn org.apache.logging.log4j.LogManager
-dontwarn org.apache.logging.log4j.Logger
-dontwarn org.newsclub.net.unix.AFUNIXServerSocketChannel
-dontwarn org.newsclub.net.unix.AFUNIXSocketAddress
-dontwarn org.newsclub.net.unix.AFUNIXSocketChannel
-keep class org.bouncycastle.crypto.** { *; }
-keep class org.bouncycastle.jce.** { *; }
-keep class org.bouncycastle.jcajce.** { *; }
-dontwarn org.bouncycastle.**
